{% if section.blocks.size > 0 %}
  <section class="apps-section section-padding">
    <div class="page-width">
      {% for block in section.blocks %}
        {% render block %}
      {% endfor %}
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Apps",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}